<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="703dcbf4-1bea-40ba-b3c4-85c8562d7303" Alias="dynamicSurveyResults" Level="3">
  <Info>
    <Name>Survey Results</Name>
    <Icon>icon-auction-hammer color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>DynamicSurveys/Results</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="740cccb9-13a2-486d-99c4-d4f5f7c400ac" SortOrder="0">dynamicSurveyResult</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>