<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b8cbcb7-d34f-42aa-b5d7-875a1f30bb5c" Alias="dynamicMultipleChoice" Level="4">
  <Info>
    <Name>Multiple Choice</Name>
    <Icon>icon-checkbox-dotted-active color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>DynamicSurveys/Questions/Question+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>