<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a26c2241-6864-486f-abe9-538a0b231345" Alias="dynamicSurveys" Level="2">
  <Info>
    <Name>Surveys</Name>
    <Icon>icon-article color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>DynamicSurveys</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1ff3269c-8f5f-4998-b7a5-f367054c067b" SortOrder="0">dynamicSurvey</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>