<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ff3269c-8f5f-4998-b7a5-f367054c067b" Alias="dynamicSurvey" Level="2">
  <Info>
    <Name>Survey</Name>
    <Icon>icon-umb-members color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>DynamicSurveys</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="703dcbf4-1bea-40ba-b3c4-85c8562d7303" SortOrder="0">dynamicSurveyResults</ContentType>
    <ContentType Key="e6a94678-cdcf-40d4-b9bb-a0538fcf67b6" SortOrder="1">questions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ff963495-1a1a-4367-b82b-1fcb15c71ef4</Key>
      <Name>First Question</Name>
      <Alias>firstQuestion</Alias>
      <Definition>87981589-b0d1-46b1-b3b1-bdf2df962357</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>875585e4-a142-498d-a62d-227303fea053</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>