<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6a94678-cdcf-40d4-b9bb-a0538fcf67b6" Alias="questions" Level="3">
  <Info>
    <Name>Questions</Name>
    <Icon>icon-folders color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>DynamicSurveys/Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="12d97718-3be7-4e51-92e6-dec0c45726f2" SortOrder="0">dynamicSurveyQuestion</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>