<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76ed9a18-c86e-43fc-861f-1b86dc582ffe" Alias="surveys" Level="2">
  <Info>
    <Name>Surveys</Name>
    <Icon>icon-article color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Static+Surveys</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8ddace68-368b-4f46-897f-90bfbe1fd99a" SortOrder="0">survey</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>