<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e9d35b6-6062-4c14-a94e-81ae3025f0d8" Alias="surveyQuestion" Level="3">
  <Info>
    <Name>Survey Question</Name>
    <Icon>icon-usb color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Surveys/Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d02a20ad-262c-4911-87a4-3b87339bc4d7" SortOrder="0">surveyAnswer</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ff4769fe-753c-49b1-af4e-ae1148d63d92</Key>
      <Name>Question Type</Name>
      <Alias>questionType</Alias>
      <Definition>2eb535e8-03dc-4813-b4f4-8d3a3f14937b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77d1d12a-69f2-4b3b-92a9-0376cdc5c99c</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d18466a8-4ef4-4656-90e2-95011915206e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>