<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ddace68-368b-4f46-897f-90bfbe1fd99a" Alias="survey" Level="2">
  <Info>
    <Name>Survey</Name>
    <Icon>icon-umb-members color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Static+Surveys</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6e9d35b6-6062-4c14-a94e-81ae3025f0d8" SortOrder="0">surveyQuestion</ContentType>
    <ContentType Key="641330f6-ba8c-4c84-abb6-1c26d2ad07f9" SortOrder="1">resultContents</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>