<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9284d913-58cd-4cf4-b924-1c3bb2cf0683" Alias="Dynamic Step Picker" Level="2">
  <Info>
    <Name>Dynamic Step Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multinode+Treepickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "dynamicSurveyQuestion,dynamicSurveyResult",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": "$current/ancestor-or-self::dynamicSurvey",
    "type": "content"
  }
}]]></Config>
</DataType>