<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea805e74-bb3b-4a1c-9dbf-dc72bf13d861" Alias="Dynamic Question Type Blocklist" Level="2">
  <Info>
    <Name>Dynamic Question Type Blocklist</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Blocklists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6144a300-f163-4fb3-8c1e-5d087ae311e9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0b8cbcb7-d34f-42aa-b5d7-875a1f30bb5c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>