<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87981589-b0d1-46b1-b3b1-bdf2df962357" Alias="Dynamic Question Picker" Level="2">
  <Info>
    <Name>Dynamic Question Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multinode+Treepickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "dynamicSurveyQuestion",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": "$current",
    "type": "content"
  }
}]]></Config>
</DataType>