<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f4c17b4-9d47-4c65-bc55-11cdc38357ab" Alias="Linked Content - Multinode Treepicker" Level="2">
  <Info>
    <Name>Linked Content - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multinode+Treepickers</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "resultContent",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": "$site/surveys/resultContents",
    "type": "content"
  }
}]]></Config>
</DataType>